# Create a copy of this file and rename it by removing ".example" to use it as your .env file.
# It can be used with docker-compose.yml to set the database credentials.
# For production, replace these example passwords with your own.

DB_USER=scraper_user
DB_PASSWORD=YouShouldChangeThis
DB_ROOT_PASSWORD=YouReallyShouldChangeThis
