/************** Body **************/
body {
    padding: 0;
    margin: 0;
    margin-inline: var(--gutter-width);
    font-family: var(--ff-sans);
    line-height: 1.6;
    color: var(--text-dark-primary);
    background: var(--bg-body);
}
#app {
    padding-top: var(--header-height);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/************** Everything **************/
:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--text-dark-primary);
}

/************** Links **************/
a {
    color: var(--color-primary-500);   /* bright accent instead of white */
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

a.no-deco,
a.no-deco {
    color: unset;
}
a.no-deco:hover,
a.no-deco:focus {
    text-decoration: none;
}

/************** Buttons **************/
button, .btn {
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-radius: var(--btn-radius);
    background: var(--color-primary-500);
    color: var(--text-light-primary);
    font-weight: var(--fw-medium);
    border: none;
    cursor: pointer;
    transition: background-color var(--t-fast),
                color var(--t-fast);
}
button:hover, .btn:hover {
    background: var(--color-primary-600);
}

.btn-text {
    color: var(--text-dark-primary);
    background-color: unset;
}
.btn-text:hover {
    background: var(--color-primary-100);
}

.btn-icon {
    padding: var(--btn-padding-y);
}

.btn-danger:hover {
    color: var(--color-error);
}


/************** Inputs **************/
input {
    padding: 0.5rem 0.5rem;
    border-radius: var(--btn-radius);
    border: 1px solid var(--color-neutral-500);
    box-sizing: border-box;
}
input:hover {
    border: 1px solid var(--color-neutral-400);
}


/************** Cards and areas **************/
.card {
    padding: var(--card-pad-y) var(--card-pad-x);
    border-radius: var(--card-radius);
    border: 2px solid var(--color-neutral-300);
}
