name: Build docker images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

    - name: Build frontend image
      run: docker build ./frontend --file Dockerfile --tag ghcr.io/alkama4/web-scraper/frontend:latest

    - name: Build backend image
      run: docker build ./backend --file Dockerfile --tag ghcr.io/alkama4/web-scraper/backend:latest

    - name: Push frontend image
      run: docker push ghcr.io/alkama4/web-scraper/frontend:latest

    - name: Push backend image
      run: docker push ghcr.io/alkama4/web-scraper/backend:latest
